.huodong{
	margin-bottom: 9px;
    color: grey;
    border-bottom: 1px solid;
}
.teaminfo_text{
	color: rgb(94, 115, 135); 
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Roboto, Arial, sans-serif; 
	line-height: 21px;
	font-size: 14px;
}
.met-index-service .services-box{
	width: 100%;
}
.met-index-service .services-box img{
	width: 166px;
	height: 154px;
}
.des{
	color: #666;
	overflow: hidden;
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:3; 
}
.one{
	overflow: hidden;
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:1; 
}
.des:hover{
	color: #fff;
}
